@layer reset, base, layout, components, utilities, overrides;

@layer reset{
    
}

@layer base{

    :root{
        /** colors **/
        --color-text:;
        --color-background:;
        --color-accent:;

        /** font **/

        --font-family:;
        --font-size:;

        /** spacing **/

        --space-sml:;
        --space-med:;
        --space-lrg:;
        --space-xl:;

    }

}

@layer layout{

}

@layer components{

}

@layer utilities{

}

@layer overrides{

}