@layer reset, base, layout, components, utilities, states, overrides, print;

@layer reset{
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  
    body {
      margin: 0;
    }

}

@layer base{

    :root{
        /** colors **/
        --color-text: #0B132B;
        --color-background: #FCFAEE;
        --color-accent: #06B178;
        --color-primary: #3A506B;

        /** font **/
        --font-family: Arial, Helvetica, sans-serif;
        --font-size-text: 1rem;
        --font-heading-lrg: 3rem;
        --font-heading-sml: 2rem;
        --line-height: 1.5;

        /** spacing **/
        --space-sml: 0.5rem;
        --space-med: 1rem;
        --space-lrg: 2.5rem;
        --space-xl: 4rem;

        /** shape **/
        --border-radius: 0.5rem;

        /** focus **/
        --focus-color: var(--color-accent);
        --focus-width: 3px;
    }

    body{
        background-color: var(--color-background);
        color: var(--color-text);
        font-family: var(--font-family);
        font-size: var(--font-size-text);
        line-height: var(--line-height);
    }

    h1{
        font-size: var(--font-heading-lrg);
        color: var(--color-primary);
    }

    h2{
        font-size: var(--font-heading-sml);
        color: var(--color-primary);
    }

    a{
        color: var(--color-primary);
    }

    img{
        max-width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }


}

@layer layout{

    header{}

    main{}

    .page-container{}

    .content-grid{}

    footer{}

}

@layer components{

    .nav{}

    .card{}

    .button{}

    .callout{}

    .form-field{}

    .resource-list{}

    .gallery{}

}

@layer utilities{

    .u-text-center{}

}

@layer states{

    
    a:hover {
        color: var(--color-accent);
    }

    a:focus-visible {
        outline: var(--focus-width) solid var(--focus-color);
    }

    /* current page */

    /* form validation */

}

@layer overrides{

}

@layer print{
    @media print{

        nav{
            display: none;
          }
        }
}